img {
  height: 150px;
}
span {
  margin-left: 20px;
}

.register {
  background-color: #0097a7;
}

.addUsr {
  background-color: #4caf50;
}

.addPst {
  background-color: #fbc02d;
}

.addLks {
  background-color: #e53935;
}
