<div>
  <img src="https://cdn.dribbble.com/users/292354/screenshots/4932971/development_team.jpg" alt="image dev">
  <span>Helo Team ! wellcome to your dashboard administration </span>
</div>


<br/>
<div fxLayout="row" fxLayoutAlign = "space-between center" fxLayoutGap="20px">
  <mat-card fxFlex="25" class="register">
    <app-widget-card1 [data]="card1"></app-widget-card1>
  </mat-card>
  <mat-card fxFlex="25" class="addUsr">
    <app-widget-card2></app-widget-card2>
  </mat-card>
  <mat-card fxFlex="25" class="addPst">
    <app-widget-card3></app-widget-card3>
  </mat-card>
  <mat-card fxFlex="25" class="addLks">
    <app-widget-card4></app-widget-card4>
  </mat-card>
</div>


<br/>

<div>
  <div>
    <app-widget-area></app-widget-area>
  </div>

<br/>
